<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html' %}
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {%  if messages %}
        {%      for message in messages %}
        <p>{{ message }}</p>
        {%      endfor %}
        {%  endif %}
        {% endwith %}
        <form action = "/verify" method="post">
            <p>Verify your email: <input type = "email" name = "email" /><input type = "submit" value = "Verify" /></p>
        </form>
        <br />
        <form action = "/success" method = "post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type = "submit" value="Upload" />
        </form>
    </body>
</html>